<h1>Área do usuário</h1>
<p>
  Seja bem vindo!
</p>
<p>
  Seu e-mail é {{user.local.email}}
</p>
<ul>
  <li>{{user.local.email}}</li>
  <li>{{user.name}}</li>
  <li>{{user.permission}}</li>
</ul>
{{#if user.facebook.id}}
<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
<p>
    <strong>id</strong>: {{user.facebook.id}}<br>
    <strong>token</strong>:  {{user.facebook.token}}<br>
    <strong>email</strong>:  {{user.facebook.email}}<br>
    <strong>name</strong>: {{user.facebook.name}}
</p>
{{/if}}
