<main role="main" class="profile">
  <div class="container">
    <div class="col-xs-24 col-md-5">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Menu geral</h3>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <li><a href="#">Informações gerais</a></li>
            <li><a href="#">Aparência</a></li>
            <li><a href="#">Alter senha</a></li>
            <li><a href="#">Lista de amigos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-24 col-md-19">
      {{#if message}}
      <div class="alert alert-info">
        <ul>
        {{#each message}}
          <li>
            {{this.message}}
          </li>
        {{/each}}
        </ul>
      </div>
      {{/if}}
      {{#if message.error}}
      <div>
        <div class="alert alert-danger">{{message.error}}</div>
      </div>
      {{/if}}
      {{#if message.info}}
      <div>
        <div class="alert alert-info">{{message.info}}</div>
      </div>
      {{/if}}
      {{#if message.success}}
      <div>
        <div class="alert alert-success">{{message.success}}</div>
      </div>
      {{/if}}
      {{#if errors}}
        <ul>
        {{#each errors}}
          <li>{{this.msg}}</li>
        {{/each}}
        </ul>
      {{/if}}
      <div class="profile-edit">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Editar dados</h3>
          </div>
          <div class="panel-body">
            {{>profile_edit_basic_info}}
          </div>
          <div class="panel-footer">
            <p>
              Informações de footer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
